<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>HM Visual Regression Test Report</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="./report.css" />
</head>
<body>
	<h1>Visual Regression Test Results</h1>
	<p>{{ results.length }} Tests</p>

	<table class="report-table">
		<thead>
			<tr>
				<th>Status</th>
				<th>Test</th>
				<th>URL</th>
				<th>Viewport</th>
				<th></th>
			</tr>
		</thead>

		{{#results}}
		<tr>
			<td>
				{{#if status}}
					✅ Pass
				{{/if}}

				{{#unless status}}
					❌ Fail
				{{/unless}}
			</td>
			<td>{{label}}</td>
			<td>
				<a href="{{url}}">
					<code>{{url}}</code>
				</a>
			</td>
			<td>{{viewport.label}} <code>({{viewport.width}}&times;{{viewport.height}})</code></td>
			<td><button class="report-table__expand" data-target="expanded-report-{{slug}}">Details</button></td>
		</tr>
		{{/results}}
	</table>

	{{#results}}
		<div id="expanded-report-{{slug}}" class="expanded-report expanded-report--test">
			<div class="expanded-report__controls">
				<div class="expanded-report__left-controls">
					<button data-target="test">Test</button>
					<button data-target="ref">Reference</button>
					<button data-target="diff">Diff</button>
				</div>
				<div class="expanded-report__title">
					{{#if status}}✅ {{/if}} {{#unless status}}❌{{/unless}}
					<b>{{label}}</b>
				</div>
				<div class="expanded-report__right-controls">
					<button class="expanded-report__prev">&#9664;</button>
					<button class="expanded-report__next">&#9654;</button>
					<button class="expanded-report__close">&times;</button>
				</div>
			</div>
			<div class="expanded-report__images">
				{{#unless status}}
					<div class="expanded-report__test">
						<img src="{{imgTest}}" alt="The test test image"/>
					</div>
					<div class="expanded-report__ref">
						<img src="{{imgRef}}" alt="The test reference image"/>
					</div>
					<div class="expanded-report__diff">
						<img src="{{imgDiff}}" alt="The test diff image"/>
					</div>
				{{/unless}}
				{{#if status}}
					<div class="expanded-report__ok">Test Passed</div>
				{{/if}}
			</div>
		</div>
	{{/results}}

	<script>
		const buttons = document.querySelectorAll( '.report-table__expand[data-target]' );
		const expanded = document.querySelectorAll( '.expanded-report' );
		const expandedControls = document.querySelectorAll( '.expanded-report__controls button[data-target]' );

		const CLASSES = {
			EXPANDED_REPORT: 'expanded-report',
			EXPANDED_REPORT_ACTIVE: 'expanded-report--active',
			EXPANDED_REPORT_REF: 'expanded-report--ref',
			EXPANDED_REPORT_DIFF: 'expanded-report--diff',
			EXPANDED_REPORT_TEST: 'expanded-report--test',
			EXPANDED_REPORT_CLOSE: 'expanded-report__close',
			EXPANDED_REPORT_PREV: 'expanded-report__prev',
			EXPANDED_REPORT_NEXT: 'expanded-report__next',
		};

		const closeModal = el => {
			el.classList.remove( CLASSES.EXPANDED_REPORT_ACTIVE );
			el.classList.remove( CLASSES.EXPANDED_REPORT_REF );
			el.classList.remove( CLASSES.EXPANDED_REPORT_DIFF );
			el.classList.add( CLASSES.EXPANDED_REPORT_TEST );
		}

		const closeAllModals = () => {
			Array.from( expanded )
				.filter( el => el.classList.contains( CLASSES.EXPANDED_REPORT_ACTIVE ) )
				.forEach( el => closeModal( el ) );
		}

		const openModal = el => {
			el.classList.add( CLASSES.EXPANDED_REPORT_ACTIVE );
		}

		buttons && Array.from( buttons ).map( c => c.onclick = e => {
			closeAllModals();
			const target = document.querySelector( `#${e.target.dataset.target}` );
			target && openModal( target );
		} );

		const closeButtons = document.querySelectorAll( `.${CLASSES.EXPANDED_REPORT_CLOSE}` );
		closeButtons && Array.from( closeButtons ).map( el => el.onclick = () => closeAllModals() );

		const prevButtons = document.querySelectorAll( `.${CLASSES.EXPANDED_REPORT_PREV}` );
		prevButtons && Array.from( prevButtons ).map( el => el.onclick = e => {
			const modal = e.target.closest( `.${CLASSES.EXPANDED_REPORT}` );
			const prevEl = modal.previousElementSibling;
			closeAllModals();
			if ( prevEl.classList.contains( CLASSES.EXPANDED_REPORT ) ) {
				openModal( prevEl );
			}
		} );

		const nextButtons = document.querySelectorAll( `.${CLASSES.EXPANDED_REPORT_NEXT}` );
		nextButtons && Array.from( nextButtons ).map( el => el.onclick = e => {
			const modal = e.target.closest( `.${CLASSES.EXPANDED_REPORT}` );
			const nextEl = modal.nextElementSibling;
			closeAllModals();
			if ( nextEl.classList.contains( CLASSES.EXPANDED_REPORT ) ) {
				openModal( nextEl );
			}
		} );

		expandedControls && Array.from( expandedControls ).map( el => el.onclick = e => {
			Array.from( expanded ).forEach( el => {
				el && el.classList.remove( CLASSES.EXPANDED_REPORT_TEST );
				el && el.classList.remove( CLASSES.EXPANDED_REPORT_REF );
				el && el.classList.remove( CLASSES.EXPANDED_REPORT_DIFF );
				el && el.classList.add( `${ CLASSES.EXPANDED_REPORT }--${e.target.dataset.target}` );
			} );
		} );
	</script>
</body>
</html>
